// .card__select {
//   background: rgba(128, 131, 164, 0.06);
//   border: 2px solid rgba(128, 131, 164, 0.2);
//   box-sizing: border-box;
//   border-radius: 8px;
//   width: 250px;
//   height: 48px;
//   font-family: Ubuntu;

//   font-size: 16px;
//   line-height: 24px;
// }

// .card__select:active {
//   border: 2px solid #373AF5;
// }
// select {
//   outline: none;
//   background-color: red;

// }

// option :hover{
//   background-color: #D8093A !important;
// }


.select {
  width: 252px;
  height: 48px;
  position: relative;
&__header {
  display: flex;
  cursor: pointer;
  width: 252px;
  height: 48px;
  margin: 0 auto;
  background: rgba(128, 131, 164, 0.06);
  border: 2px solid rgba(128, 131, 164, 0.2);
  box-sizing: border-box;
  border-radius: 8px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #8083A4;
}
&__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  text-align: center;
  margin-left: auto;
}
&__current {
  font-style: 18px;
  line-height: 24px;
  padding: 8px;
}
&__body {
  // display: none;
  position: absolute;
  width: 252px;
  height: 160px;
  background: #FFFFFF;
  border: 2px solid rgba(128, 131, 164, 0.06);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(4, 5, 73, 0.16), 14px 14px 20px rgba(5, 6, 114, 0.08);
  border-radius: 8px;
  left: 0;
  top: 52px;
}
&__item {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2C2D76;
  margin-top: 12px;
  cursor: pointer;
  width: 230px;
  margin-left: 6px;
}
&__item:hover {
  background: rgba(128, 131, 164, 0.06);
  border-radius: 8px;
}
}
