.Header {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 102px;
  line-height: 122px;
  color: var(--Base-color);
  width: 48.5rem;
  margin: auto;
  margin-bottom: 60px;


    &__left-world {
      display: flex;
      justify-content: flex-start;
    }
    &__right-world {
      margin-top: -30px;
      display: flex;
      justify-content: flex-end;
    }
}